@use '../base/variables';

@media (min-width: 576px) {
  .container {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  
    .upsell {
      border-radius: 30px;
  
        &.secondary-text-elements-group {
         margin-top: variables.$space-50;
      }
    }
  }
}

@media (min-width: 992px) {
  .container {
    width: 992px;
    margin-left: auto;
    margin-right: auto;
  
  .navigation {
    display: flex;
  }
  .burger-menu {
    display: none;
  }
  .section-paragraph,
  .showcase-title,
  .copyright {
    font-size: variables.$fs-s;
  }
  .hero-half-image {
    display: none;
  }
  .hero-all-image {
    display: flex;
    width: 90%;
  }
 
  .showcase-wrapper .subtitle,
  .showcase-wrapper .showcase-name,
  .showcase-wrapper .card-number,
  .showcase-wrapper .price-deadline {
    font-size: variables.$fs-xs;
  }
  .press-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: variables.$space-50;
    margin: variables.$space-50 variables.$space-0;
  
  &.card:nth-child(4) {
    display: flex;
  }
}
  .press-wrapper .card-content {
    display: flex;
  }
  .showcase-wrapper {
    display: flex;
    align-items: center;
  }
  .showcase-wrapper {
    overflow: initial;
  }
  .footer-upsell .section-image {
    width: 30%;
  
      &.section-image img {
        float: right;
  
      &.hero-main-title {
        width: 70%;
    }
  }
}
  .references a {
    margin-top: variables.$space-20;
  }
  .footer-description {
    font-size: variables.$fs-s;
  }
  .date {
    display: flex;
    font-size: variables.$fs-s;
  }
  .footer-bottom-side {
    display: flex;
    justify-content: space-between;
  }
}
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-main-title {
    font-size: variables.$fs-xxxl;
    line-height: 116px;
  }
  .footer-wrapper .right-side {
    display: flex;
  }
  .footer-top-side {
    display: flex;
    justify-content: space-between;
    gap: variables.$space-300;
  }
  .showcase {
    overflow: visible;
  }
}
