// FONT-SIZE 
$fs-xxs: 16px;
$fs-xs: 18px;
$fs-s: 20px;
$fs-md: 30px;
$fs-l: 40px;
$fs-xl: 48px;
$fs-xxl: 56px;
$fs-xxxl: 96px;

// COCLORS:
$color-white: #ffffff;
$color-smaller-main-title: #ff3998;
$color-very-dark-grey: #111111;
$color-dark-grey: #555555;
$color-grey: #999999;
$color-light: #eeeeee;

// FONT-WEIGHT:
$fw-s: 400;
$fw-md: 500;
$fw-l: 600;
$fw-xl: 700;
$fw-xxl: 900;


// SPACING
$space-0: 0;
$space-8: 8px;
$space-10: 10px;
$space-16: 16px;
$space-20: 20px;
$space-24: 24px;
$space-28: 28px;
$space-30: 30px;
$space-32: 32px;
$space-40: 40px;
$space-50: 50px;
$space-65: 65px;
$space-300: 300px