@use '../base/variables';

.footer-upsell {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-upsell .section-main-title {
  font-size: variables.$fs-xxl;
  line-height: 68px;
  font-weight: variables.$fw-xxl;
  color: variables.$color-very-dark-grey;
}

.footer-upsell .section-image {
  width: 40%;
}

.footer-upsell .main-text-elements-group {
  width: 50%;
}
