.footer-wrapper {
  margin-top: variables.$space-65;
}

.socials-icon ul {
  display: flex;
  list-style-type: none;
  gap: variables.$space-16;
  margin-bottom: variables.$space-65;
}

.footer-top-side .left-side {
  display: flex;
  flex-direction: column;
}

.footer-description {
  margin: variables.$space-32 variables.$space-0;
}

.footer-top-side .right-side {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: variables.$space-50;
}

.references-cont {
  display: flex;
  width: 50%;
}

.references {
  display: flex;
  flex-direction: column;
}

.footer-title {
  text-transform: uppercase;
}
.references a {
  text-decoration: none;
  font-size: variables.$fs-s;
  line-height: 20px;
  font-weight: variables.$fw-s;
  color: variables.$color-dark-grey;
  margin-top: variables.$space-10;
}

.footer-bootom-side {
  margin-top: variables.$space-65;
  display: flex;
}

.date {
  display: none;
}
