@use '../base/variables';

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 198px;
  height: 36px;
}
.navigation {
  display: none;
}

.navigation a {
  text-decoration: none;
  font-weight: variables.$fw-s;
  font-size: variables.$fs-s;
  line-height: 20px;
  color: variables.$color-dark-grey;
  margin-right: variables.$space-28;;
}
