@use '../base/variables';

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: variables.$space-0;
}

.main-text-elements-group {
  width: 60%;
}

.hero-main-title {
  font-size: variables.$fs-xl;
  font-weight: variables.$fw-xxl;
  line-height: 58px;
  color: variables.$color-very-dark-grey;
  margin: variables.$space24 variables.$space-0;
}

.hero-all-image {
  display: none;
}
