@use '../base/variables';

.showcase-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
  gap: variables.$space-40;
  margin-top: variables.$space-40;
}

.showcase-wrapper .card {
  background-color: variables.$color-light;
  border-radius: 16px;
}

.showcase-wrapper .card-content .bottom-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: variables.$space-20;
}

.showcase-wrapper .bootom-side .right-side {
  display: flex;
  justify-content: flex-end;
}

.price-wrapper {
  display: flex;
  align-items: center;
}

.price-wrapper img {
  margin-right: variables.$space-8;
}
