.footer-upsell {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-upsell .section-main-title {
  font-size: 56px;
  line-height: 68px;
  font-weight: 900;
  color: #111111;
}
